<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 970x250 Billboard -->
<div style="text-align:center;margin-top:40px;">
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-9184373525576918"
     data-ad-slot="8514248184"></ins></div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>