<div id="adHeader" style="text-align:center;"	>
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9184373525576918" data-ad-slot="1959714988" data-ad-format="auto"></ins>
</div>
<div id="adBody" style="text-align:center;"	>
  <ins  class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9184373525576918" data-ad-slot="1959714988" data-ad-format="auto"></ins>
</div>
<div id="adFooter" style="text-align:center;"	>
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9184373525576918" data-ad-slot="1959714988" data-ad-format="auto"></ins>
</div>

<!-- Google ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
function getBody(){
	var body = $('.article');
    if (! $(body).length) body = $('article');
	if (! $(body).length) body = $('.area_view');
	if (! $(body).length) body = $('.list_content');
	if (! $(body).length) body = $('#mArticle');
	return body;
}

function getBodyElemet(idx){
	var body = getBody();
	var ele = $(body).find('p');
	if (! $(ele).length ) ele = $(body).find('div');
	if (! $(ele).length ) ele = $(body).find('pre');
	if (! $(ele).length ) ele = getBody();

	if (idx != undefined){
		return $(ele).eq(idx);
	}

	return ele;
}

function getBodyHalf(){
	var ele = getBodyElemet();
	var len = $(ele).length;
	return $(ele).eq(parseInt(len*1/2));
}

function addAdsenseAfter(ele, id){
    if( $(ele).length == 1) {
        $(ele).after($(id));
        (adsbygoogle = window.adsbygoogle || []).push({});
    }
    else $(id).remove();
}

function addAdsenseAppend(ele, id){
    if( $(ele).length == 1) {
        $(ele).append($(id));
        (adsbygoogle = window.adsbygoogle || []).push({});
    }
    else $(id).remove();
}

function addAdsenseBefore(ele, id){
    if( $(ele).length == 1) {
        $(ele).before($(id));
        (adsbygoogle = window.adsbygoogle || []).push({});
    }
    else $(id).remove();
}

function moveAds(){
	var body = getBody();
	addAdsenseBefore(body, '#adHeader');
    addAdsenseAfter(body, '#adFooter');

  	// var bodyHalf = getBodyHalf();
	// addAdsenseAfter(bodyHalf, '#adBody')
}


$(function(){
    moveAds();
    showAlt();
});

function showAlt()  {
    $('.main-content-wrap img').not('[id^="ccl"]').each(function(){
        var alt = $(this).attr('alt');
        if (alt != "" && alt != undefined){
            var span = "<span class='caption'>"+alt+"</span>";
            $(this).after(span);
        }
    });
}

</script>
<!-- End of Google ad -->
